
    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            margin-left: 7%;
        }

        .footer {
            margin-top: auto;
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
        }

        .f-info-links a {
            margin: 0 10px;
        }
    </style>



    <footer class="footer">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-quora"></i>
            </div>
        </div>
        <div>&copy;E-Alumni Private Limited </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </footer>

