
<% layout("/layouts/boilerplate.ejs") %>

<body>

    <% for(let post of posts) { %>
    <h2>All Posts</h2>
    <div class="posts-container">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="post">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No posts available.</p>
        <% } %>
    </div>
</body>
