<% layout("/layouts/boilerplate.ejs") %>

<style>
  .custom-bg {
    margin-top: 3rem;
    background-color: #0015ff;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-card {
    background-color: rgba(255, 228, 196, 0.8); /* Burlywood with transparency */
    margin-left: 10%; /* Adjust margin as needed */
    width: 80%; /* Adjust width as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  #forget {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }

  #forget a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .create-account {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }
  
</style>

<div class="custom-bg">
  <div class="custom-card">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Login</h1>
        <form action="/login" method="POST" class="needs-validation" novalidate autocomplete="username">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" required/>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" id="password" class="form-control" autocomplete="current-password" required/>
          </div>

          <button type="submit" class="btn btn-success btn-block">Login</button>
        </form>
        <p id="forget">Forgot Password? <a href="#">Click Here</a></p>
        <a href="/signup" class="btn btn-primary btn-block">Create Account</a>
      </div>
    </div>
  </div>
</div>
